// animations.scss

@keyframes headerColors {
	0% {
		background: #41CED6;
	}
	18% {
		background: #41D68F;
	}
	48% {
		background: #246D95;
	}
	78% {
		background: #6671F8;
	}
	100% {
		background: #41CED6;
	}
}

@-webkit-keyframes headerColors {
	0% {
		background: #41CED6;
	}
	18% {
		background: #41D68F;
	}
	48% {
		background: #246D95;
	}
	78% {
		background: #6671F8;
	}
	100% {
		background: #41CED6;
	}
}