// header.scss

.header {
  -webkit-animation: 10s headerColors infinite;
  animation: 10s headerColors infinite;
  height: 100vh;
  position: relative; 
  width: 100%;

  a {
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    animation: none;
    height: 100%;
    width: 25%;
  }
  
  &__logo {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%;

    @media screen and (min-width: 768px) {
      bottom: 2vh;
      left: 2vh;
      right: auto;
      top: auto;
      height: 10vh;
      width: auto;
    }
  }

  nav {
    display: none;

    @media screen and (min-width: 768px) {
      display: inline-block;
      height: 80vh;
      margin-top: 10vh;
      width: 100%;
      overflow-x: hidden;
    }

    li {
      margin-bottom: 15px;
      border-left: 8px solid #000; 
    }

    .no-border {
      border-left: 0;

      h2, a {
        padding-left: 22px;
      }
    }
  }
}