// intro.scss

.intro {
	background: #fffcf6;
	height: 100%;
	left: 0;
	position: fixed;   
	top: 0;
	width: 100%;
	z-index: -1;

	&__container {
		padding: 20px;

		&__image-logo {
		  display: inline-block;
		  margin-top: 30vh;
		  width: 100px;

		  @media screen and (min-width: 768px) {
			  bottom: 10px;
			  left: 100px;
			  position: absolute;
			  width: 200px;	  	
		  }	
		}

		&__image-portrait {
		  display: none;

		  @media screen and (min-width: 768px) {
			  bottom: 50px;
			  position: absolute;
			  right: 100px;
		  }
		}		

		&__content {
			margin-top: 20px;
		}
	}



	h1 {
		display: inline-block;
		font-size: 15px;
		font-style: normal;
		left: auto;
		margin: 5px 0 0;
		position: relative;
		text-align: left;
		text-transform: none;
		top: auto;
		transform: none;

		@media screen and (min-width: 768px) {
			cursor: pointer;
			font-size: 40px;
			margin: 100px 0 0 100px;
			overflow: hidden;
			transition: .4s ease-in-out;    
			width: 100%;			
		}

		&:before,
		&:after {
			display: none;
		}
	}

	a {
		margin: 0;
		padding: 0;
		text-decoration: none;
	}


	.hideName {
		width: 0;
		transition: .4s ease-in-out;
	}
}



