// modal.scss

.modal {
	background: rgba(255, 252, 246, 0.9);
	bottom: 0;
	cursor: url(../images/cursor-x.svg), auto;
	display: none;
	left: 0;
	margin: 0 auto;
	position: fixed;
	right: 0;
	top: 0;

	&__container {
		height: 90vh;
		height: 90vh;
		left: 0;
		margin: 0 auto;
		max-width: 60%;
		position: absolute;
		right: 0;
		top: 5vh;
	}

	&ized {
		height: 90%;
		left: 0;
		margin: 0 auto;
		position: absolute;
		right: 0;
		top: 5vh;
	}

	&.show {
		display: block;
	}
}