// modal.scss

.modal {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0 auto;
	background: rgba(18, 18, 18, 0.84);

	&__container {
		max-width: 60%;
		height: 90vh;
		position: absolute;
		top: 5vh;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 90vh;
	}

	&ized {
		position: absolute;
		top: 5vh;
		left: 0;
		right: 0;
		margin: 0 auto;
		height: 90%;
	}

	&.show {
		display: block;
	}
}

.modalify {
	cursor: pointer;
}

.white .modal__container {
	background: #fff;

}