//- header.jade

header.header
  img.header__logo(src='../images/logo.svg', alt='logo')
  nav
    ul
      li.no-border
        h2 About
      li.project-one  
        a(href='#projectOne')
          h2 01
          h3 SOK
      li.project-two
        a(href='#projectTwo')
          h2 02
          h3 Parallel   
      li.project-three
        a(href='#projectThree')
          h2 03
          h3 Songs of Freedom
      li.project-four
        a(href='#projectFour')
          h2 04
          h3 Voodudes 
      li.project-five
        a(href='#projectFive')
          h2 05
          h3 Ben Howard   
      li.project-six
        a(href='#projectSix')
          h2 06
          h3 Mall
      li.project-seven
        a(href='#projectSeven')
          h2 07
          h3 Whataburger
      li.project-eight
        a(href='#projectEight')
          h2 08
          h3 Cards
      li.project-nine
        a(href='#projectNine')
          h2 09
          h3 Marta
      li.project-ten
        a(href='#projectTen')
          h2 10
          h3 Motion
      li.project-eleven
        a(href='#projectEleven')
          h2 11
          h3 Logos
      li.no-border
        a(href='mailto:crperets@gmail.com') crperets@gmail.com                             

