//- header.jade

header.header
  img.header__logo(src='../images/logo.svg' alt='logo')
  nav
    ul
      li
        h2 About
      li  
        a(href='#projectOne')
          h2 01
          h3 Parallel Magazine
      li
        a(href='#projectTwo')
          h2 02
          h3 SOK    
      li
        a(href='#projectThree')
          h2 03
          h3 Mall 
      li
        a(href='#projectFour')
          h2 04
          h3 Ben Howard Poster
      li
        a(href='#projectFive')
          h2 05
          h3 Whataburger  
      li
        a(href='#projectSix')
          h2 06
          h3 Greetings Cards
      li
        a(href='#projectSeven')
          h2 07
          h3 Tounges Music Video
      li
        a(href='#projectEight')
          h2 08
          h3 Brain Food
      li
        a(href='#projectNine')
          h2 09
          h3 Cosmic Caravan
      li
        a(href='#projectTen')
          h2 10
          h3 Alice in Wonderland Syndrome    
      li
        a(href='mailto:crperets@gmail.com') crperets@gmail.com                             

