doctype html
html
  head
    include head.jade
    include divider.jade
    include intro.jade
    include header.jade
    include main.jade
    include modal.jade

  body
    include scriptInclude.jade

