// intro.jade

.intro
	.intro__container
		img.intro__container__image-portrait(src='http://static1.squarespace.com/static/551ecd51e4b0eb561417f420/t/553d86d9e4b03925cdf4fc49/1430095578598/?format=1500w', alt='portrait')
		img.intro__container__image-logo(src='http://paigeinteractive.com/courtney/images/logo.svg', alt='logo')
		.intro__container__content
			h1 Courtney Perets
			h1 print + screen designer

		.intro__container__content
			h1 
				a(href='mailto:crperets@gmail.com') crperets@gmail.com
			h1 
				a(href='tel:7723417325') (772) 341-7325

		.intro__container__content
			h1 Resume			