// intro.jade

.intro
	.intro__container
		img.intro__container__image-portrait(src='', alt='portrait')
		img.intro__container__image-logo(src='../images/logo.svg', alt='logo')
		h2#changeName		
		h2.resume 
			a(href='../images/peretsResume.pdf', target='_blank') Resume
		h2.work
			a(href='#projectOne') Work

		.intro__container__container
			.intro__container__content
				h1.hide Courtney Perets
				h1 print + screen designer

			.intro__container__content
				h1 
					a(href='mailto:crperets@gmail.com') crperets@gmail.com
				h1 
					a(href='tel:7723417325') (772) 341-7325

			.intro__container__content
				h1.hide 
					a(href='../images/peretsResume.pdf', target='_blank') Resume			
		.hide-mobile		
			img.magnify(src='../../images/intro/magnify.svg', alt='magnifying glass')
			p jljk
			img.beach(src='../../images/intro/beach.svg', alt='beach')
			img.developer(src='../../images/intro/develop.svg', alt='developer')				