//- main.jade

main.main

  .main__project.main__project-one#projectOne
    h2 01
    h3 SOK
    .carousel(data-index='1')
      ul
        .group(data-group='1')
          li.pane1.main__project-one__one.half-width.full-height
          li.pane2.main__project-one__two.half-width.full-height
            .main__project__content-container
              h4 SOK
              p SOKs are made using a unique thermochromic dye that reveals a design only when your body reaches optimal active temperature. That means when you show up, your SOKs do too. Copy change!
              .main__project__content-container__buttons
                h5 branding
                h5 Product
                h5 Web
                h5 Packaging
              .main__project__content-container__team-member  
                p Designer Partner: 
                a(href='http://jamesbentoncarroll.com/' target='_blank') James Carroll                
              .main__project__content-container__team-member
                p Copywriter: 
                a(href='http://keithwasser.com' target='_blank') Keith Wasser  
        .group(data-group='2')    
          li.pane3.main__project-one__four.full-height.full-width
        .group(data-group='3')    
          li.pane4.main__project-one__five.full-height.full-width
        .group(data-group='4')   
          li.pane5.main__project-one__six.full-height.full-width
        .group(data-group='5')    
          li.pane6.main__project-one__seven.full-height.full-width 
        .group.last(data-group='6')  
          li.pane7.main__project-one__eight.full-height.full-width 



  .main__project.main__project-two#projectTwo
    h2 02
    h3 Parallel Magazine
    .carousel(data-index='2')
      ul
        .group(data-group='1')
          li.main__project-two__one.half-width.full-height
          li.main__project-two__two.half-width.full-height
            .main__project__content-container
              h4 Parallel Magazine
              p Subject Matters.
              p A not-so-stuffy take on photo-literary journals. Each issue takes a broad theme and examines it through different perspectives and media.
              .main__project__content-container__buttons
                h5 Publication
              .main__project__content-container__team-member
                p Photographers: 
                a(href='http://www.marcuscliatt.com/' target='_blank') Marcus Cliatt,
                a(href='http://www.ariphotos.com' target='_blank') Ari Skinner,
                a(href='http://www.secondtonunnphoto.com' target='_blank') Maggie Nunn
        .group(data-group='2')  
          li.main__project-two__three.full-height.half-width
            h1 Spring 2015 
              span Vision Matters
          li.main__project-two__four.full-height.half-width
            img.large-img.modalify(src='../images/parallel/parallel02.png', alt='Vision Matters')  
        .group(data-group='3')    
          li.main__project-two__five.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel03.png', alt='Vision Matters') 
        .group(data-group='4')    
          li.main__project-two__six.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel04.png', alt='Vision Matters') 
        .group(data-group='5')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel05.png', alt='Vision Matters')                          
        .group(data-group='6')  
          li.main__project-two__three.full-height.half-width
            h1 Summer 2015 
              span Sex Matters
          li.main__project-two__four.full-height.half-width
            img.large-img.modalify(src='../images/parallel/parallel15.png', alt='Sex Matters')              
        .group(data-group='7')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel06.png', alt='Sex Matters')
        .group(data-group='8')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel07.png', alt='Sex Matters')              
        .group(data-group='9')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel08.png', alt='Sex Matters')            
        .group(data-group='10')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel09.png', alt='Sex Matters')            
        .group(data-group='11')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel10.png', alt='Sex Matters')            
        .group(data-group='12')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel11.png', alt='Sex Matters')            
        .group(data-group='13')  
          li.main__project-two__three.full-height.half-width
            h1 Fall 2015 
              span Destruction Matters
          li.main__project-two__four.full-height.half-width
            img.large-img.modalify(src='../images/parallel/parallel16.png', alt='Destruction Matters')
        .group(data-group='14')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel12.png', alt='Destruction Matters')    
        .group(data-group='15')    
          li.main__project-two.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel13.png', alt='Destruction Matters')                                         
        .group.last(data-group='16')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel14.png', alt='Destruction Matters')                                          



  .main__project.main__project-three#projectThree
    h2 03
    h3 Songs Of Freedom
    .carousel(data-index='3')
      ul
        .group(data-group='1')
          li.main__project-three__one.half-width.full-height
          li.main__project-three__two.half-width.full-height
            .main__project__content-container
              h4 Songs Of Freedom
              p A website for the Center for Civil and Human Rights in Atlanta, GA to celebrate the power of song. Using the Selma March for voting rights in 1965 as the starting point, this website allows users to interact with lyrics that defined an era and rallied a revolution.
              .main__project__content-container__buttons
                h5 web
        .group.last(data-group='2')  
          li.main__project-three__three.full-width.full-height  
            | <iframe src="https://player.vimeo.com/video/136975676?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


  .main__project.main__project-four#projectFour
    h2 04
    h3 Voodudes
    .carousel(data-index='4')
      ul
        .group(data-group='1')
          li.main__project-four__one.half-width.full-height
          li.main__project-four__two.half-width.full-height
            .main__project__content-container
              h4 Voodudes
              p If they haven’t released a sarcasm font by now, they probably never will. And thanks to Voodudes, they’ll never need to. Just sit your Voodude on your desk and pair it with the Voodude app. Your friends can use the app to pick an emotion and send it straight to your Voodude. Now you’ll never again have to wonder whether that text was *thanks* with a smile or thanks with an eye roll.
              .main__project__content-container__buttons
                h5 branding
                h5 product design
                h5 packaging       
        .group(data-group='2')  
          li.main__project-four__three.full-height.half-width
            h1 
              span socks that show up when you do
          li.main__project-four__four.full-height.half-width
            img.modalify(src='../images/mall/mall02.png', alt='mall app')  
        .group(data-group='3')    
          li.main__project-four__five.full-height.half-width
            img.modalify(src='../images/mall/mall03.png', alt='mall app')
          li.main__project-four__six.full-height.half-width
            img.modalify(src='../images/mall/mall04.png', alt='mall app')
        .group(data-group='4')    
          li.main__project-four__seven.full-height.half-width
            img.modalify(src='../images/mall/mall05.png', alt='mall app')
          li.main__project-four__eight.full-height.half-width
            img.modalify(src='../images/mall/mall06.png', alt='mall app')
        .group.last(data-group='5')    
          li.main__project-four__nine.full-height.full-width
            img.large-img.modalify(src='../images/mall/mall07.png')



  .main__project.main__project-five#projectFive
    h2 05
    h3 Ben Howard Poster
    .carousel(data-index='5')
      ul
        .group(data-group='1')
          li.main__project-five__one.half-width.full-height
          li.main__project-five__two.half-width.full-height
            .main__project__content-container
              h4 Ben Howard Poster
              p I Forget Where We Were Tour 2015
              .main__project__content-container__buttons
                h5 print
        .group(data-group='2')  
          li.main__project-five__four.full-width.full-height  
            img.large-img.modalify(src='../../images/ben-howard/benHoward02.png')
        .group.last(data-group='3')  
          li.main__project-five__five.full-width.full-height    
        .group(data-group='4')  
          li.main__project-five__six.full-width.full-height  
            img.large-img.modalify(src='../../images/ben-howard/benHoward04.png')
        .group.last(data-group='5')  
          li.main__project-five__seven.full-width.full-height    



  .main__project.main__project-six#projectSix
    h2 06
    h3 Mall
    .carousel(data-index='6')
      ul
        .group(data-group='1')
          li.main__project-six__one.half-width.full-height
          li.main__project-six__two.half-width.full-height
            .main__project__content-container
              h4 Mall
              p Mall is a retail-shopping app that allows users to build and shop at their own personalized malls right from their phones. Users can view curated galleries, view product info and even checkout from the app.
              .main__project__content-container__buttons
                h5 branding
                h5 web
              p Copywriter: 
              a(href='http://keithwasser.com' target='_blank') Keith Wasser        
        .group(data-group='2')  
          li.main__project-six__three.full-height.half-width
            h1 
              span socks that show up when you do
          li.main__project-six__four.full-height.half-width
            img.modalify(src='../images/mall/mall02.png', alt='mall app')  
        .group(data-group='3')    
          li.main__project-six__five.full-height.half-width
            img.modalify(src='../images/mall/mall03.png', alt='mall app')
          li.main__project-six__six.full-height.half-width
            img.modalify(src='../images/mall/mall04.png', alt='mall app')
        .group(data-group='4')    
          li.main__project-six__seven.full-height.half-width
            img.modalify(src='../images/mall/mall05.png', alt='mall app')
          li.main__project-six__eight.full-height.half-width
            img.modalify(src='../images/mall/mall06.png', alt='mall app')
        .group.last(data-group='5')    
          li.main__project-six__nine.full-height.full-width
            img.large-img.modalify(src='../images/mall/mall07.png')



  .main__project.main__project-seven#projectSeven
    h2 07
    h3 Whataburger Campaign
    .carousel(data-index='7')
      ul
        .group(data-group='1')
          li.main__project-seven__one.half-width.full-height
          li.main__project-seven__two.half-width.full-height
            .main__project__content-container
              h4 Whataburger Campaign
              p Prepare Your Senses
              p Whataburger is opening its doors in cities unknown, but words can't describe how good Whataburger tastes. So let's prepare only the minds and 4­of­5 primary senses (excluding taste) for Whataburger's arrival, allowing Whata­virgins to focus on familiarizing their taste buds once the doors open.
              .main__project__content-container__buttons
                h5 Ad Campaign
                h5 production
                h5 art direction
              .main__project__content-container__team-member
                p Copywriter: 
                a(href='http://philfattore.com' target='_blank') Phil Fattore,
              .main__project__content-container__team-member  
                a(href='http://haydenthegriffin.com' target='_blank') Hayden Griffin          
        .group(data-group='2')        
          li.main__project-seven__three.full-width.full-height
            | <iframe src="https://player.vimeo.com/video/114508804?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .group(data-group='3')        
          li.main__project-seven__four.full-width.full-height
            | <iframe src="https://player.vimeo.com/video/114197514?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .group(data-group='4')        
          li.main__project-seven__five.full-width.full-height
            | <iframe src="https://player.vimeo.com/video/114197810?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .group(data-group='5')        
          li.main__project-seven__six.full-width.full-height
            | <iframe src="https://player.vimeo.com/video/114198121?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>                                    
        .group(data-group='6')     
          li.main__project-seven__seven.full-width.full-height 
        .group(data-group='7')    
          li.main__project-seven__eight.half-width.full-height  
            img.modalify(src='../../images/whataburger/whataburger03.png', alt='Whataburger Campaign')
          li.main__project-seven__nine.half-width.full-height  
            img.modalify(src='../../images/whataburger/whataburger04.png', alt='Whataburger Campaign')
        .group(data-group='8')
          li.main__project-seven__ten.half-width.full-height 
            img.modalify(src='../../images/whataburger/whataburger05.png', alt='Whataburger Campaign')
          li.main__project-seven__eleven.half-width.full-height  
            img.modalify(src='../../images/whataburger/whataburger06.png', alt='Whataburger Campaign')
        .group.last(data-group='9')  
          li.main__project-seven__twelve.full-width.full-height



  .main__project.main__project-eight#projectEight
    h2 08
    h3 Greeting Cards
    .carousel(data-index='8')
      ul
        .group(data-group='1')
          li.main__project-eight__one.half-width.full-height
          li.main__project-eight__two.half-width.full-height
            .main__project__content-container
              h4 Greeting Cards
              p Patient reminders from a progressive doctor's office.
              .main__project__content-container__buttons
                h5 illustration      
        .group(data-group='2')        
          li.main__project-eight__three.full-width.full-height  
        .group(data-group='3')  
          li.main__project-eight__four.full-width.full-height  
        .group(data-group='4')  
          li.main__project-eight__five.full-width.full-height           
        .group.last(data-group='5')  
          li.main__project-eight__six.full-width.full-height  



  .main__project.main__project-nine#projectNine
    h2 09
    h3 Marta
    .carousel(data-index='9')
      ul
        .group(data-group='1')
          li.main__project-nine__one.half-width.full-height
          li.main__project-nine__two.half-width.full-height
            .main__project__content-container
              h4 Marta
              p Redesign of MARTA’s, Atlanta’s Public Transportation System, phone app with a focus on an interactive map and alerts based on local events affecting your route.
              .main__project__content-container__buttons
                h5 UI
                h5 UX
        .group(data-group='2')    
          li.main__project-nine__three.full-height.half-width
            img.modalify(src='../images/marta/marta02.png', alt='marta app')
          li.main__project-nine__four.full-height.half-width
            img.modalify(src='../images/marta/marta03.png', alt='marta app')
        .group(data-group='3')    
          li.main__project-nine__five.full-height.half-width
            img.modalify(src='../images/marta/marta04.png', alt='marta app')
          li.main__project-nine__six.full-height.half-width
            img.modalify(src='../images/marta/marta05.png', alt='marta app')
        .group(data-group='4')    
          li.main__project-nine__seven.full-height.half-width
            img.modalify(src='../images/marta/marta06.png', alt='marta app')
          li.main__project-nine__eight.full-height.half-width
            img.modalify(src='../images/marta/marta07.png', alt='marta app')
        .group(data-group='5')    
          li.main__project-nine__nine.full-height.half-width
            img.modalify(src='../images/marta/marta08.png', alt='marta app')
          li.main__project-nine__ten.full-height.half-width
            img.modalify(src='../images/marta/marta09.png', alt='marta app')    
        .group.last(data-group='6')    
          li.main__project-nine__eleven.full-height.half-width
            img.modalify(src='../images/marta/marta10.png', alt='marta app')
          li.main__project-nine__twelve.full-height.half-width
            img.modalify(src='../images/marta/marta11.png', alt='marta app')                          


  .main__project.main__project-ten#projectTen
    h2 10
    h3 Motion
    .carousel(data-index='10')
      ul
        .group(data-group='1')
          li.main__project-ten__one.half-width.full-height  
          li.main__project-ten__two.half-width.full-height  
            .main__project__content-container
              h4 Motion
              p Alice In Wonderland Syndrome is completely real. Our friend Jim has it and this is how we interpreted his self-portrait in the next 10 years. The syndrome itself is even weirder than the video we made about it, but not by much.
              .main__project__content-container__buttons
                h5 design
        .group(data-group='2')        
          li.main__project-ten__three.full-width.full-height      
            | <iframe src="https://player.vimeo.com/video/112334871?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .group(data-group='3')        
          li.main__project-ten__four.full-width.full-height      
            | <iframe src="https://player.vimeo.com/video/134550483?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>            
        .group.last(data-group='4')        
          li.main__project-ten__five.full-width.full-height      
            | <iframe src="https://player.vimeo.com/video/125407229?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>            



  .main__project.main__project-eleven#projectEleven
    h2 11
    h3 Logos
    .carousel(data-index='11')
      ul
        .group(data-group='1')            
          li.main__project-eleven__three.full-height.half-width
            h1 Galactic Unicorn
              span Hybrid designer + developer agency
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/galacticUnicorn.png', alt='Galactic Unicorn')   
        .group(data-group='2')            
          li.main__project-eleven__three.full-height.half-width
            h1 Project L.I.F.T.
              span Helping youth who are struggling with drug and alcohol abuse
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/lift.png', alt='LIFT')  
        .group(data-group='3')            
          li.main__project-eleven__three.full-height.half-width
            h1 Voodudes
              span The desktop emotional companion  
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/voodudes.png', alt='Voodudes')                           
        .group(data-group='4')            
          li.main__project-eleven__three.full-height.half-width
            h1 Zap
              span New energy vehicles
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/zap.png', alt='Zap') 
        .group(data-group='5')            
          li.main__project-eleven__three.full-height.half-width
            h1 Hodge Podge
              span The coffee drinker, creatives and little ones
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/hodgePodge.png', alt='Hodge Podge')
        .group(data-group='6')            
          li.main__project-eleven__three.full-height.half-width
            h1 Mall
              span The coffee drinker, creatives and little ones
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/mall.png', alt='Mall')                                                               
        .group(data-group='7')            
          li.main__project-eleven__three.full-height.half-width
            h1 Sentry Safe
              span Protect and organize the most important and irreplaceable things in your life
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/sentrySafe.png', alt='Sentry Safe')
        .group(data-group='8')            
          li.main__project-eleven__three.full-height.half-width
            h1 Evolution
              span Home theatre
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/evolution.png', alt='Evolution')   
        .group.last(data-group='9')            
          li.main__project-eleven__three.full-height.half-width
            h1 SOK
              span Socks that show up when you do
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify.background-modal(src='../images/logos/sok.png', alt='SOK')                                                                                       
