//- main.jade

main.main

  .main__project.main__project-one#projectOne
    h2 01
    h3 SOK
    .carousel(data-index='1')
      ul
        .group(data-group='1')
          li.pane1.main__project-one__one.half-width.full-height
          li.pane2.main__project-one__two.half-width.full-height
            .main__project__content-container
              h4 SOK
              p SOKs are made using a unique thermochromic dye that reveals a design only when your body reaches optimal active temperature. That means when you show up, your SOKs do too.
              .main__project__content-container__buttons
                h5 branding
                h5 Product
                h5 Web
                h5 Packaging
              .main__project__content-container__team-member  
                p Designer Partner: 
                a(href='http://jamesbentoncarroll.com/' target='_blank') James Carroll                
              .main__project__content-container__team-member
                p Copywriter: 
                a(href='http://keithwasser.com' target='_blank') Keith Wasser  
        .group(data-group='2')    
          li.pane3.main__project-one__four.full-height.full-width
        .group(data-group='3')    
          li.pane4.main__project-one__five.full-height.full-width
        .group(data-group='4')   
          li.pane5.main__project-one__six.full-height.full-width
        .group(data-group='5')    
          li.pane6.main__project-one__seven.full-height.full-width 
        .group.last(data-group='6')  
          li.pane7.main__project-one__eight.full-height.full-width 



  .main__project.main__project-two#projectTwo
    h2 02
    h3 Parallel Magazine
    .carousel(data-index='2')
      ul
        .group(data-group='1')
          li.main__project-two__one.half-width.full-height
          li.main__project-two__two.half-width.full-height
            .main__project__content-container
              h4 Parallel Magazine
              p Subject Matters.
              p A not-so-stuffy take on photo-literary journals. Each issue takes a broad theme and examines it through different perspectives and media.
              .main__project__content-container__buttons
                h5 Publication
              .main__project__content-container__team-member
                p Photographers: 
                a(href='http://www.marcuscliatt.com/' target='_blank') Marcus Cliatt,
                a(href='http://www.ariphotos.com' target='_blank') Ari Skinner,
                a(href='http://www.secondtonunnphoto.com' target='_blank') Maggie Nunn
        .group(data-group='2')  
          li.main__project-two__three.full-height.half-width
            h1 Spring 2015 
              span Vision Matters
          li.main__project-two__four.full-height.half-width
            img.large-img.modalify(src='../images/parallel/parallel02.png', alt='Vision Matters')  
        .group(data-group='3')    
          li.main__project-two__five.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel03.png', alt='Vision Matters') 
        .group(data-group='4')    
          li.main__project-two__six.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel04.png', alt='Vision Matters') 
        .group(data-group='5')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel05.png', alt='Vision Matters')                          
        .group(data-group='6')  
          li.main__project-two__three.full-height.half-width
            h1 Summer 2015 
              span Sex Matters
          li.main__project-two__four.full-height.half-width
            img.large-img.modalify(src='../images/parallel/parallel15.png', alt='Sex Matters')              
        .group(data-group='7')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel06.png', alt='Sex Matters')
        .group(data-group='8')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel07.png', alt='Sex Matters')              
        .group(data-group='9')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel08.png', alt='Sex Matters')            
        .group(data-group='10')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel09.png', alt='Sex Matters')            
        .group(data-group='11')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel10.png', alt='Sex Matters')            
        .group(data-group='12')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel11.png', alt='Sex Matters')            
        .group(data-group='13')  
          li.main__project-two__three.full-height.half-width
            h1 Fall 2015 
              span Destruction Matters
          li.main__project-two__four.full-height.half-width
            img.large-img.modalify(src='../images/parallel/parallel16.png', alt='Destruction Matters')
        .group(data-group='14')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel12.png', alt='Destruction Matters')    
        .group(data-group='15')    
          li.main__project-two.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel13.png', alt='Destruction Matters')                                         
        .group.last(data-group='16')    
          li.main__project-two__seven.full-height.full-width  
            img.large-img.modalify(src='../images/parallel/parallel14.png', alt='Destruction Matters')                                          



  .main__project.main__project-three#projectThree
    h2 03
    h3 Songs Of Freedom
    .carousel(data-index='3')
      ul
        .group(data-group='1')
          li.main__project-three__one.half-width.full-height
          li.main__project-three__two.half-width.full-height
            .main__project__content-container
              h4 Songs Of Freedom
              p A website for the Center for Civil and Human Rights in Atlanta, GA to celebrate the power of song. Using the Selma March for voting rights in 1965 as the starting point, this website allows users to interact with lyrics that defined an era and rallied a revolution.
              .main__project__content-container__buttons
                h5 web
        .group.last(data-group='2')  
          li.main__project-three__three.full-width.full-height  
            | <iframe src="https://player.vimeo.com/video/136975676?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>


  .main__project.main__project-four#projectFour
    h2 04
    h3 Voodudes
    .carousel(data-index='4')
      ul
        .group(data-group='1')
          li.main__project-four__one.half-width.full-height
          li.main__project-four__two.half-width.full-height
            .main__project__content-container
              h4 Voodudes
              p Be emotional.
              p You'll never again have to wonder whether that text was *thanks* with a smile or thanks with an eye roll. Voodudes are a pair of desktop devices that express emotion. Combine a facial expression with a gesture on your app and it’s pair will replicate the emotion to your far­away friends and lovers.
              .main__project__content-container__buttons
                h5 branding
                h5 product design
                h5 packaging       
        .group(data-group='2')  
          li.main__project-four__three.full-width.full-height 
        .group(data-group='3')  
          li.main__project-four__four.full-width.full-height 
        .group(data-group='4')  
          li.main__project-four__five.full-width.full-height 
        .group(data-group='5')            
          li.main__project-four__six.full-height.half-width
            h1 
              span Pair with the Voodudes app to show your friends how you really feel
          li.main__project-eleven__four.full-height.half-width
            img.modalify(src='../images/voodudes/voodudes05.gif', alt='Voodudes app')            
        .group.last(data-group='6')            
          li.main__project-four__seven.full-height.full-width

  .main__project.main__project-five#projectFive
    h2 05
    h3 Ben Howard Poster
    .carousel(data-index='5')
      ul
        .group(data-group='1')
          li.main__project-five__one.half-width.full-height
          li.main__project-five__two.half-width.full-height
            .main__project__content-container
              h4 Ben Howard Poster
              p I Forget Where We Were Tour 2015
              .main__project__content-container__buttons
                h5 print
        .group(data-group='2')  
          li.main__project-five__four.full-width.full-height  
            img.medium-img.modalify(src='../../images/ben-howard/benHoward02.png')
        .group(data-group='3')  
          li.main__project-five__five.full-width.full-height    
        .group.last(data-group='4')  
          li.main__project-five__six.full-width.full-height    



  .main__project.main__project-six#projectSix
    h2 06
    h3 Mall
    .carousel(data-index='6')
      ul
        .group(data-group='1')
          li.main__project-six__one.half-width.full-height
          li.main__project-six__two.half-width.full-height
            .main__project__content-container
              h4 Mall
              p Mall is a retail-shopping app that allows users to build and shop at their own personalized malls right from their phones. Users can view curated galleries, view product info and even checkout from the app.
              .main__project__content-container__buttons
                h5 branding
                h5 web
              p Copywriter: 
              a(href='http://keithwasser.com' target='_blank') Keith Wasser        
        .group(data-group='2')  
          li.main__project-six__three.full-height.half-width
            h1 
              span Mall's minimalist design prioritizes each brands personality over that of the app
          li.main__project-six__four.full-height.half-width
            img.modalify(src='../images/mall/mall02.png', alt='mall app')  
        .group(data-group='3')   
          li.main__project-six__five.full-height.half-width
            h1
              span A recency feed allows users to scroll through each stores latest additions
          li.main__project-six__six.full-height.half-width
            img.modalify(src='../images/mall/mall07.png', alt='mall app')

        .group(data-group='4')
          li.main__project-six__nine.full-height.half-width
            h1
              span Window mode allows users to browse product galleries curated by each store
          li.main__project-six__ten.full-height.half-width
            img.modalify(src='../images/mall/mall04.png', alt='mall app')

        .group(data-group='5')
          li.main__project-six__eleven.full-height.half-width
            h1
              span Users can edit items within the shopping cart or save them to return to later
          li.main__project-six__twelve.full-height.half-width
            img.modalify(src='../images/mall/mall05.png', alt='mall app')

        .group.last(data-group='6')
          li.main__project-six__thirteen.full-height.half-width
            h1
              span A shared shopping cart allows users to checkout from every store at once
          li.main__project-six__fourteen.full-height.half-width
            img.modalify(src='../images/mall/mall06.png', alt='mall app')


  .main__project.main__project-seven#projectSeven
    h2 07
    h3 Whataburger Campaign
    .carousel(data-index='7')
      ul
        .group(data-group='1')
          li.main__project-seven__one.half-width.full-height
          li.main__project-seven__two.half-width.full-height
            .main__project__content-container
              h4 Whataburger Campaign
              p Prepare Your Senses
              p Whataburger is opening its doors in cities unknown, but words can't describe how good Whataburger tastes. So let's prepare only the minds and 4­of­5 primary senses (excluding taste) for Whataburger's arrival, allowing Whata­virgins to focus on familiarizing their taste buds once the doors open.
              .main__project__content-container__buttons
                h5 Ad Campaign
                h5 production
                h5 art direction
              .main__project__content-container__team-member
                p Copywriter: 
                a(href='http://philfattore.com' target='_blank') Phil Fattore,
              .main__project__content-container__team-member  
                a(href='http://haydenthegriffin.com' target='_blank') Hayden Griffin          
        .group(data-group='2')        
          li.main__project-seven__three.full-width.full-height
            | <iframe src="https://player.vimeo.com/video/114508804?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .group(data-group='3')        
          li.main__project-seven__four.full-width.full-height
            | <iframe src="https://player.vimeo.com/video/114197514?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .group(data-group='4')        
          li.main__project-seven__five.full-width.full-height
            | <iframe src="https://player.vimeo.com/video/114197810?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .group(data-group='5')        
          li.main__project-seven__six.full-width.full-height
            | <iframe src="https://player.vimeo.com/video/114198121?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>                                    
        .group(data-group='6')     
          li.main__project-seven__seven.full-width.full-height 
        .group(data-group='7')    
          li.main__project-seven__eight.half-width.full-height  
            img.modalify(src='../../images/whataburger/whataburger03.png', alt='Whataburger Campaign')
          li.main__project-seven__nine.half-width.full-height  
            img.modalify(src='../../images/whataburger/whataburger04.png', alt='Whataburger Campaign')
        .group(data-group='8')
          li.main__project-seven__ten.half-width.full-height 
            img.modalify(src='../../images/whataburger/whataburger05.png', alt='Whataburger Campaign')
          li.main__project-seven__eleven.half-width.full-height  
            img.modalify(src='../../images/whataburger/whataburger06.png', alt='Whataburger Campaign')
        .group.last(data-group='9')  
          li.main__project-seven__twelve.full-width.full-height



  .main__project.main__project-eight#projectEight
    h2 08
    h3 Greeting Cards
    .carousel(data-index='8')
      ul
        .group(data-group='1')
          li.main__project-eight__one.half-width.full-height
          li.main__project-eight__two.half-width.full-height
            .main__project__content-container
              h4 Greeting Cards
              p Patient reminders from a progressive doctor's office.
              .main__project__content-container__buttons
                h5 illustration      
        .group(data-group='2')        
          li.main__project-eight__three.full-width.full-height  
        .group(data-group='3')  
          li.main__project-eight__four.full-width.full-height  
        .group(data-group='4')  
          li.main__project-eight__five.full-width.full-height           
        .group(data-group='5')  
          li.main__project-eight__six.full-width.full-height  
        .group.last(data-group='6')  
          li.main__project-eight__seven.full-width.full-height 


  .main__project.main__project-nine#projectNine
    h2 09
    h3 Marta
    .carousel(data-index='9')
      ul
        .group(data-group='1')
          li.main__project-nine__one.half-width.full-height
          li.main__project-nine__two.half-width.full-height
            .main__project__content-container
              h4 Marta
              p Redesign of MARTA’s, Atlanta’s Public Transportation System, phone app with a focus on an interactive map and alerts based on local events affecting your route.
              .main__project__content-container__buttons
                h5 UI
                h5 UX
        .group(data-group='2')    
          li.main__project-nine__three.full-height.half-width
            img.modalify(src='../images/marta/marta02.png', alt='marta app')
          li.main__project-nine__four.full-height.half-width
            img.modalify(src='../images/marta/marta03.png', alt='marta app')
        .group(data-group='3')    
          li.main__project-nine__five.full-height.half-width
            img.modalify(src='../images/marta/marta04.png', alt='marta app')
          li.main__project-nine__six.full-height.half-width
            img.modalify(src='../images/marta/marta05.png', alt='marta app')
        .group.last(data-group='4')    
          li.main__project-nine__seven.full-height.half-width
            img.modalify(src='../images/marta/marta06.png', alt='marta app')
          li.main__project-nine__eight.full-height.half-width
            img.modalify(src='../images/marta/marta07.png', alt='marta app')


  .main__project.main__project-ten#projectTen
    h2 10
    h3 Motion
    .carousel(data-index='10')
      ul
        .group(data-group='1')
          li.main__project-ten__one.half-width.full-height  
          li.main__project-ten__two.half-width.full-height  
            .main__project__content-container
              h4 Motion
              p Growing up as someone who loves to experiment and learn new skills, it was only fitting for me to explore what happens when I take design elements and think through how to they work in motion. The following are a few projects where I used After Effects to think through that extra interaction.
              .main__project__content-container__buttons
                h5 design
        .group(data-group='2')        
          li.main__project-ten__three.full-width.full-height      
            | <iframe src="https://player.vimeo.com/video/112334871?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .group(data-group='3')        
          li.main__project-ten__four.full-width.full-height      
            | <iframe src="https://player.vimeo.com/video/134550483?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>            
        .group.last(data-group='4')        
          li.main__project-ten__five.full-width.full-height      
            | <iframe src="https://player.vimeo.com/video/125407229?color=ffffff" width="90%" height="70%" style="margin-top:10%; margin-left: 5%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>            



  .main__project.main__project-eleven#projectEleven
    h2 11
    h3 Logos
    .carousel(data-index='11')
      ul
        .group(data-group='1')            
          li.main__project-eleven__three.full-height.half-width
            h1 Galactic Unicorn
              span Hybrid designer + developer agency
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/galacticUnicorn.png', alt='Galactic Unicorn')   
        .group(data-group='2')            
          li.main__project-eleven__three.full-height.half-width
            h1 Project L.I.F.T.
              span Helping youth who are struggling with drug and alcohol abuse
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/lift.png', alt='LIFT')  
        .group(data-group='3')            
          li.main__project-eleven__three.full-height.half-width
            h1 Voodudes
              span The desktop emotional companion  
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/voodudes.png', alt='Voodudes')                           
        .group(data-group='4')            
          li.main__project-eleven__three.full-height.half-width
            h1 Zap
              span New energy vehicles
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/zap.png', alt='Zap') 
        .group(data-group='5')            
          li.main__project-eleven__three.full-height.half-width
            h1 Hodge Podge
              span The coffee drinker, creatives and little ones
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/hodgePodge.png', alt='Hodge Podge')
        .group(data-group='6')            
          li.main__project-eleven__three.full-height.half-width
            h1 Mall
              span The coffee drinker, creatives and little ones
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/mall.png', alt='Mall')                                                               
        .group(data-group='7')            
          li.main__project-eleven__three.full-height.half-width
            h1 SOK
              span Socks that show up when you do
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/sok.png', alt='Sok')
        .group(data-group='8')            
          li.main__project-eleven__three.full-height.half-width
            h1 Porsche co. values
              span Employee mark for "Spirit"
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/spirit.png', alt='Porsche logo')   
        .group(data-group='9')            
          li.main__project-eleven__three.full-height.half-width
            h1 Porsche co. values
              span Employee mark for "All In"
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/allin.png', alt='Porsche logo') 
        .group.last(data-group='10')            
          li.main__project-eleven__three.full-height.half-width
            h1 Porsche co. values
              span Employee mark for "Turn the Key"
          li.main__project-eleven__four.full-height.half-width
            img.large-img.modalify(src='../images/logos/turnthekey.png', alt='Porsche logo') 

          
