//- modal.jade

.modal
  .modal__container
    .modal__container__exit
      img(src='https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcSu0OWbnOhSTBrBT3eHYMC7EgzTzZhP5xCm7OZaI1LsZ5UicZDm' alt='Exit')
    img.modalized(src='')
