@keyframes headerColors {
  0% {
    background: #41CED6; }

  18% {
    background: #41D68F; }

  48% {
    background: #246D95; }

  78% {
    background: #6671F8; }

  100% {
    background: #41CED6; } }

@-webkit-keyframes headerColors {
  0% {
    background: #41CED6; }

  18% {
    background: #41D68F; }

  48% {
    background: #246D95; }

  78% {
    background: #6671F8; }

  100% {
    background: #41CED6; } }

.header {
  -webkit-animation: 10s headerColors infinite;
  animation: 10s headerColors infinite;
  height: 100vh;
  position: relative;
  width: 100%; }
  .header a {
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .header {
      animation: none;
      height: 100%;
      width: 25%; } }
  .header__logo {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 60%; }
    @media screen and (min-width: 768px) {
      .header__logo {
        bottom: 2vh;
        left: 2vh;
        right: auto;
        top: auto;
        height: 10vh;
        width: auto; } }
  .header nav {
    display: none; }
    @media screen and (min-width: 768px) {
      .header nav {
        display: inline-block;
        height: 80vh;
        margin-top: 10vh;
        width: 100%;
        overflow-x: hidden; } }
    .header nav li {
      margin-bottom: 15px;
      border-left: 8px solid #000; }

.main::-webkit-scrollbar {
  display: none; }
@media screen and (min-width: 768px) {
  .main {
    height: 100%;
    min-height: 600px;
    overflow: scroll;
    position: absolute;
    left: 25%;
    top: 0;
    width: 75%;
    max-width: 1000px; } }
.main h1 {
  font-family: 'Apercu Regular', sans-serif, serif;
  text-transform: uppercase;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 2px; }
  .main h1 span {
    font-family: 'Apercu Mono';
    display: block;
    font-size: 15px;
    text-transform: none;
    letter-spacing: 0px; }
@media screen and (min-width: 768px) {
  .main h2, .main h3 {
    display: none; } }
@media screen and (min-width: 768px) {
  .main__project {
    height: 100vh;
    padding: 10vh 0; } }
.main__project__content-container {
  padding: 15px; }
  .main__project__content-container__team-member {
    width: 100%; }
    .main__project__content-container__team-member p {
      margin: 0;
      padding: 10px 0 0; }
.main__project img {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 80%;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }
@media screen and (min-width: 768px) {
  .main img {
    width: 60%;
    max-width: 250px; } }
.main img.large-img {
  max-width: 600px; }
.main__project-one h4, .main__project-one h5 {
  color: #b3ffda; }
.main__project-one__one {
  background: url('../../images/mall/mall01.jpg') no-repeat center;
  background-size: cover; }
.main__project-one__two {
  background: #b3ffda; }
.main__project-one .group[data-group='3'], .main__project-one .group[data-group='4'] {
  background: url('../../images/mall/mall-background.jpg') no-repeat center;
  background-size: cover; }
.main__project-two h4, .main__project-two h5 {
  color: #eae1ff; }
.main__project-two__one {
  background: url('../../images/sok/sok01.jpg') no-repeat center;
  background-size: cover; }
.main__project-two__two {
  background: #eae1ff; }
.main__project-two__three {
  background: url('../../images/sok/sok02.jpg') no-repeat center;
  background-size: cover; }
.main__project-two__four {
  background: url('../../images/sok/sok03.jpg') no-repeat center;
  background-size: cover; }
.main__project-two__five {
  background: url('../../images/sok/sok04.jpg') no-repeat center;
  background-size: cover; }
.main__project-two__six {
  background: url('../../images/sok/sok05.jpg') no-repeat center;
  background-size: cover; }
.main__project-two__seven {
  background: url('../../images/sok/sok06.jpg') no-repeat center;
  background-size: cover; }
.main__project-two__eight {
  background: url('../../images/sok/sok07.gif') no-repeat center;
  background-size: cover; }
.main__project-two__nine {
  background: url('../../images/sok/sok08.gif') no-repeat center;
  background-size: cover; }
.main__project-two__ten {
  background: url('../../images/sok/sok09.gif') no-repeat center;
  background-size: cover; }
.main__project-three h4, .main__project-three h5 {
  color: #8bc9ff; }
.main__project-three__one {
  background: url('../../images/parallel/parallel01.jpg') no-repeat center;
  background-size: cover; }
.main__project-three__two {
  background: #8bc9ff; }
.main__project-four h4, .main__project-four h5 {
  color: #8A83D3; }
.main__project-four__one {
  background: url('../../images/ben-howard/benHoward01.jpg') no-repeat center;
  background-size: cover; }
.main__project-four__two {
  background: #8A83D3; }
.main__project-four__three {
  background: url('../../images/ben-howard/benHoward02.jpg') no-repeat center;
  background-size: cover; }
.main__project-four__four {
  background: url('../../images/ben-howard/benHoward03.jpg') no-repeat center;
  background-size: cover; }
.main__project-four__five {
  background: url('../../images/ben-howard/benHoward04.jpg') no-repeat center;
  background-size: cover; }
.main__project-five h4, .main__project-five h5 {
  color: #E96769; }
.main__project-five__one {
  background: url('../../images/whataburger/whataburger01.jpg') no-repeat center;
  background-size: cover; }
.main__project-five__two, .main__project-five__three {
  background: #E96769; }
.main__project-five__four {
  background: url('../../images/whataburger/whataburger02.jpg') no-repeat center;
  background-size: cover; }
.main__project-five__five {
  background: url('../../images/whataburger/whataburger03.jpg') no-repeat center;
  background-size: cover; }
.main__project-five__six {
  background: url('../../images/whataburger/whataburger04.jpg') no-repeat center;
  background-size: cover; }
.main__project-five__seven {
  background: url('../../images/whataburger/whataburger05.jpg') no-repeat center;
  background-size: cover; }
.main__project-six h4, .main__project-six h5 {
  color: #5E81ED; }
.main__project-six__one {
  background: url('../../images/tounges/tounges01.jpg') no-repeat center;
  background-size: cover; }
.main__project-six__two, .main__project-six__three {
  background: #5E81ED; }
.main__project-seven h4, .main__project-seven h5 {
  color: #ED8B5E; }
.main__project-seven__one {
  background: url('../../images/card/card01.jpg') no-repeat center;
  background-size: cover; }
.main__project-seven__two {
  background: #ED8B5E; }
.main__project-seven__three {
  background: url('../../images/card/card02.jpg') no-repeat center;
  background-size: cover; }
.main__project-seven__four {
  background: url('../../images/card/card03.jpg') no-repeat center;
  background-size: cover; }
.main__project-seven__five {
  background: url('../../images/card/card04.jpg') no-repeat center;
  background-size: cover; }
.main__project-eight h4, .main__project-eight h5 {
  color: #00A5B6; }
.main__project-eight__one {
  background: url('../../images/brain-food/brainfood01.jpg') no-repeat center;
  background-size: cover; }
.main__project-eight__two {
  background: #00A5B6; }
.main__project-eight__three {
  background: url('../../images/brain-food/brainfood02.jpg') no-repeat center;
  background-size: cover; }
.main__project-eight__four {
  background: url('../../images/brain-food/brainfood03.jpg') no-repeat center;
  background-size: cover; }
.main__project-eight__five {
  background: url('../../images/brain-food/brainfood04.jpg') no-repeat center;
  background-size: cover; }
.main__project-eight__six {
  background: url('../../images/brain-food/brainfood05.jpg') no-repeat center;
  background-size: cover; }
.main__project-nine h4, .main__project-nine h5 {
  color: #EAB5EF; }
.main__project-nine__one {
  background: url('../../images/cosmic/cosmic01.jpg') no-repeat center;
  background-size: cover; }
.main__project-nine__two {
  background: #EAB5EF; }
.main__project-nine__three {
  background: url('../../images/cosmic/cosmic02.jpg') no-repeat center;
  background-size: cover; }
.main__project-nine__four {
  background: url('../../images/cosmic/cosmic03.jpg') no-repeat center;
  background-size: cover; }
.main__project-nine__five {
  background: url('../../images/cosmic/cosmic04.jpg') no-repeat center;
  background-size: cover; }
.main__project-nine__six {
  background: url('../../images/cosmic/cosmic05.jpg') no-repeat center;
  background-size: cover; }
.main__project-ten h4, .main__project-ten h5 {
  color: #00E3B5; }
.main__project-ten__one {
  background: url('../../images/alice/alice01.jpg') no-repeat center;
  background-size: cover; }
.main__project-ten__two, .main__project-ten__three {
  background: #00E3B5; }
.main .carousel {
  overflow-x: hidden;
  width: 100%;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  -webkit-transform-style: preserve-3d;
  height: 350px;
  margin-bottom: 30px; }
  .main .carousel ul {
    -webkit-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -moz-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -ms-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    -o-transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    transform: translate3d(0%, 0, 0) scale3d(1, 1, 1);
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative; }
    .main .carousel ul.animate {
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
  .main .carousel li {
    float: left;
    height: 350px;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0); }
  @media screen and (min-width: 768px) {
    .main .carousel .half-width {
      width: 50%; }
    .main .carousel .full-width {
      width: 100%; }
    .main .carousel .half-height {
      height: 50%; }
    .main .carousel .full-height {
      height: 100%; }
    .main .carousel .absolute-bottom {
      position: absolute;
      bottom: 0; }
    .main .carousel .group {
      display: inline-block;
      width: 100%;
      height: 100%; } }

html, body, .carousel, .carousel ul, .carousel li {
  min-height: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative; }

html {
  background: #fffcf6; }

@media screen and (min-width: 768px) {
  .carousel li {
    min-height: auto; } }

.modal {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  background: rgba(18, 18, 18, 0.84); }
  .modal__container {
    max-width: 60%;
    height: 90vh;
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 90vh; }
  .modalized {
    position: absolute;
    top: 5vh;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 90%; }
  .modal.show {
    display: block; }

.modalify {
  cursor: pointer; }

@font-face {
  font-family: 'Apercu Mono';
  src: url('../../fonts/apercu_mono.otf'); }

@font-face {
  font-family: 'Apercu Regular';
  src: url('../../fonts/apercuRegular.otf'); }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

h1 {
  -webkit-transform: translate(0, -50%);
  font-family: 'Apercu Mono';
  font-style: italic;
  margin: 0;
  position: absolute;
  text-align: center;
  text-transform: lowercase;
  top: 50%;
  transform: translate(0, -50%); }
  @media screen and (min-width: 768px) {
    h1 {
      width: 60%;
      margin: 0 20%; } }
  h1::before {
    background: #000;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    top: -30px;
    transform: translate(-50%, 0);
    width: 80px; }
  h1::after {
    background: #000;
    content: '';
    height: 2px;
    left: 50%;
    position: absolute;
    bottom: -30px;
    transform: translate(-50%, 0);
    width: 80px; }

h2 {
  font-family: 'Apercu Mono';
  font-size: 50px;
  letter-spacing: 3px;
  padding: 0 0 5px 10px;
  display: inline-block; }
  @media screen and (min-width: 768px) {
    h2 {
      font-size: 15px; } }

h3 {
  font-family: 'Apercu Mono';
  font-size: 30px;
  letter-spacing: 1px;
  padding: 0 0 0 10px;
  word-wrap: break-word;
  display: inline-block; }
  @media screen and (min-width: 768px) {
    h3 {
      font-size: 12px; } }

h4 {
  background: #000;
  display: inline-block;
  font-family: 'Apercu Regular', sans-serif, serif;
  font-size: 30px;
  letter-spacing: 1px;
  padding: 8px 8px 2px;
  text-transform: uppercase; }

h5 {
  background: #000;
  display: inline-block;
  font-family: 'Apercu Regular', sans-serif, serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 5px;
  margin: 5px 10px 0 0; }

p {
  font-family: 'Apercu Mono';
  font-size: 14px;
  padding: 15px 0 0;
  line-height: 22px;
  display: inline-block;
  margin: 20px; }

a {
  font-family: 'Apercu Mono';
  color: #000;
  display: inline-block;
  text-decoration: underline;
  padding: 0 5px; }

li {
  list-style: none; }
